<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.constructure" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GUMBOOT</name>
    <description>
        Hybrid Data Capture app
    </description>
    <author email="shan@acaciaconsulting.co.za" href="http://www.acaciaconsulting.co.za">
        Shan Gray
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <icon src="res/drawable/icon.png" />
    <splash src="res/drawable/screen.png"/>
    <feature name="org.apache.cordova.splashscreen.SplashScreen" />
</widget>
