<div>
    <div class="page-header">
        <h1 class="page-title">Update Plant</h1>
    </div>
    <form name="updatePlant" novalidate>
        <div class="form-item dropdown even">
            <label for="item-dd">Item to update</label>
            <span class="icon"></span>
            <select id="item-dd" name="item-dd" ng-model="user.ItemType" ng-change="changeModelItem(user.ItemType)" required>
                <option ng-repeat="item in consultantPlants" value="{{item.Id}}">{{item.Name}}</option>
            </select>
        </div>
        <div class="form-item dropdown odd">
            <label for="Reference">Reference</label>
            <span class="icon"></span>
            <input id="Reference" name="Reference" type="text" placeholder="{{user.Reference}}" ng-model="user.Reference" disabled>
            <!--<select id="Model" name="model" ng-model="user.ItemModel">
                <option ng-repeat="models in modelList" value="{{modelList[$index].Id}}">{{modelList[$index].Name}}</option>
            </select>-->
        </div>
        <div class="form-item disabled even">
            <label for="hirer">Hirer</label>
            <span class="icon"></span>
            <input id="hirer" name="hirer" type="text" placeholder="{{user.Hirer}}" ng-model="user.Hirer" disabled>
        </div>
        <div class="form-item odd">
            <label for="orderNum">Order number</label>
            <span class="icon"></span>
            <input id="orderNum" name="rate" type="number" placeholder="Enter value..." ng-model="user.OrderNumber" required>
        </div>
        <div class="form-item odd">
            <label for="rate">Rate</label>
            <span class="icon"></span>
            <input id="rate" name="rate" type="number" placeholder="Enter value..." ng-model="user.Rate" required>
        </div>
        <div class="form-item dropdown even">
            <label for="weather-dd">Inclement Weather Terms</label>
            <span class="icon"></span>
            <select id="weather-dd" name="weather-dd" ng-model="user.WeatherTerm" required>
                <option ng-repeat="weather in weatherList" value="{{weather.Id}}">{{weather.Text}}</option>
            </select>
        </div>
        <div class="form-buttons">
            <button type="submit" class="button radius nextbtn full-width" ng-click="showConfirm($event)" ng-disabled="updatePlant.$invalid">Confirm</button>
            <button href="" class="button radius cancelbtn full-width" onclick="navigator.app.backHistory()">Cancel<span class="icon"></span></button>
        </div>
    </form>
</div>
