<form name="receive-plant">
    <div class="form-item date odd">
        <label for="date">Date</label>
        <span class="icon"></span>
        <input id="date" name="date" type="date" placeholder="2015-01-01">
    </div>
    <div class="form-item dropdown  even">
        <label for="item-dd">Item</label>
        <span class="icon"></span>
        <select id="item-dd" name="item-dd">
            <option value="default">Please select</option>
            <option value="item1">item1</option>
            <option value="item2">item2</option>
            <option value="item3">item3</option>
            <option value="item4">item4</option>
            <option value="item5">item5</option>
            <option value="item6">item6</option>
        </select>
    </div>
    <div class="form-item dropdown  odd">
        <label for="model-dd">Model</label>
        <span class="icon"></span>
        <select id="model-dd" name="model-dd">
            <option value="default">Please select</option>
            <option value="model1">model1</option>
            <option value="model2">model2</option>
            <option value="model3">model3</option>
            <option value="model4">model4</option>
        </select>
    </div>
    <div class="form-item text even">
        <label for="reference">Reference</label>
        <span class="icon"></span>
        <input id="reference" name="reference" type="text" placeholder="Enter text...">
    </div>
    <div class="form-item dropdown odd">
        <label for="hirer-dd">Hirer</label>
        <span class="icon"></span>
        <select id="hirer-dd" name="hirer-dd">
            <option value="default">Please select</option>
            <option value="name1">name1</option>
            <option value="name2">name2</option>
            <option value="name3">name3</option>
            <option value="name4">name4</option>
        </select>
    </div>
    <div class="form-item text even">
        <label for="order-num">Order Number</label>
        <span class="icon"></span>
        <input id="order-num" name="order-num" type="number" placeholder="Enter text...">
    </div>
    <div class="form-item text odd">
        <label for="rate">Rate</label>
        <span class="icon"></span>
        <input id="rate" name="rate" type="number" placeholder="Enter value...">
    </div>
    <div class="form-item dropdown even">
        <label for="weather-dd">Inclement Weather Terms</label>
        <span class="icon"></span>
        <select id="weather-dd" name="weather-dd">
            <option value="default">Please select</option>
            <option value="Rain">Rain</option>
            <option value="Storms">Storms</option>
            <option value="Overcast">Overcast</option>
            <option value="Sunny">Sunny</option>
        </select>
    </div>
    <div class="form-item text odd">
        <label for="checked-by">Plant Checked By</label>
        <span class="icon"></span>
        <input id="checked-by" name="checked-by" type="text" placeholder="Enter text...">
    </div>
    <div class="form-item even">
        <label>Diesel In Tank</label>
        <div class="switch-toggle panel">
            <input id="yes" name="view" type="radio" checked>
            <label for="yes" onclick="">Yes</label>
            <input id="no" name="view" type="radio">
            <label for="no" onclick="">No</label>
            <a class="button"></a>
        </div>
    </div>
    <div class="form-item text odd">
        <label for="litres-filled">Litres fill Up</label>
        <span class="icon"></span>
        <input id="litres-filled" name="litres-filled" type="number" placeholder="Enter value...">
    </div>
    <div class="form-item text even">
        <label for="comments">Comments</label>
        <span class="icon"></span>
        <input id="comments" name="comments" type="text" placeholder="Enter text...">
    </div>
    <div class="form-buttons">
        <a href="" class="button radius nextbtn full-width">Next<span class="icon"></span></a>
        <a href="" class="button radius cancelbtn full-width">Cancel<span class="icon"></span></a>
    </div>
</form>