<div>
    <h1 class="page-title">Diesel processing</h1>
    <div class="button-container">
        <md-button href="#diesel/capture-diesel-sent" class="button radius full-width icon-btn"><span class="icon capture-start"></span>Capture Diesel sent out</md-button>
        <md-button href="#diesel/capture-diesel-tank" class="button radius full-width icon-btn"><span class="icon capture-stop"></span>Capture Diesel tank reading</md-button>
        <md-button href="#diesel/capture-diesel-received" class="button radius full-width icon-btn"><span class="icon capture-received"></span>Capture Diesel received</md-button>
    </div>
</div>
