<section>
    <div id="footer-nav" class="login-header">
        <img style="padding: 14px;" src="images/app_banner_logo.png" />
        <div class="animate-switch-container" ng-switch on="loggedIn">
            <span class="controls animate-switch" ng-switch-default>
              <p>Welcome to the Gumboot<br/> Connect and enjoy</p>
              <md-button ng-click="connectUser()" class="button radius full-width">Connect</md-button>
            </span>
            <span class="controls animate-switch" ng-switch-when="connecting">
                <form name="loginForm" ng-submit="userAuth()" novalidate>
                  <input class="radius" type="password" placeholder="type in pin" name="password" ng-model="loginData.password" ng-minlength=4 ng-maxlength=6 required>
                  <md-button type="submit" class="button radius full-width" ng-disabled="loginForm.$invalid">login</md-button>
                </form>
            </span>
        </div>

    </div>
</section>